* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
   --pink: #ff002b;
   --backround: #392b3c;
}

body {
  color: var(--pink);
  background: var(--backround);
  text-align: justify;
  font-family: 'Orbitron', sans-serif;
}

.box {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  column-gap: 2;
  line-height: 3rem;
  font-size: 20px;

}
p {
margin-bottom: 1rem;
}

.content {
}

.row {background: #392b3c;
}

#footer {
  background: #110513;
  padding: 20px;
}
#header {
  background: #110513;
  padding: 20px;
}
.hero-image {
  background-image: url("flower.jpeg");
  background-position: center;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#photo {
  font-size:100px;
  color: white;
}
#headerfooter {
  font-size: 70px;
}
#question {
  font-size: 50px;


}
