* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  div.row {
    display: flex;
    justify-content: center;
    background-color: #5995DA;
    border: 10px solid white;
    font-size: 62px;
    color: #FF0067;
    font-family: 'Orbitron', sans-serif;



  }
  div {
      width: 100%;
      font-family: 'Orbitron', sans-serif;
  }
    div.space {
      font-family: 'Orbitron', sans-serif;
      font-size: 62px;
      border: 10px solid white;
      

}
